/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin:20px 0px;
}

body{
    margin: 50px;
    padding: 20px;
}

header{
    border: 1px solid #E579E6;
    background-color: #E579E6;
    height: 80px;
    margin-bottom: 20px;
}

.yellowboard.blueboard{
    margin: 20px;
}


.board1{
    border: 1px solid #E1D67A ;
    background-color: #E1D67A ;
    height: 300px;
    border bottom: 10px;
}

.board2{
     border: 1px solid #0086FE;
     background-color: #0086FE;
     margin-top: 20px;
     height: 500px;
     width: 100%;
     display: inline-block;
}

.lightblueboard{
    /* border: 1px solid #ABCFE7; */
    background-color: #ABCFE7;
    height: 60px;
}

.lightblueboardmid{
    border: 1px solid #ABCFE7;
    background-color: #ABCFE7;
    height: 80%;
    width:60%;
}






