/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 10px;
    margin-left: 90px;
}

header{
    border: 1px solid #E579E6;
    background-color: #E579E6;
    width: 90%;
    height: 50px;
}

.yellowboard{
    border: 1px solid #E1D67A ;
    background-color: #E1D67A ;
    width: 90%;
    margin-top: 10px;
    padding: 100px;
}