/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}

header{
    /* border: 1px solid #E579E6; */
    background-color: #E579E6;
    height: 80px;
    margin-bottom: 20px;
}

footer .vbar{
    margin-top: 20px;
    /* border: 1px solid #8801FE; */
    background-color: #8801FE;
    width: 100%;
    height: 50px;
}

.board1{
    /* border: 1px solid #E1D67A ; */
    background-color: #E1D67A ;
    height: 300px;
    
}

.board2{
     /* border: 1px solid #0086FE; */
     background-color: #0086FE;
     margin-top: 20px;
     height: 40vh;
     width: 100%;
     display: inline-block;
}

.lightblueboard{
    /* border: 1px solid #ABCFE7; */
    background-color: #ABCFE7;
    height: 60px;
}


.lightblueboardleft{
     /* border: 1px solid #ABCFE7; */
     background-color: #ABCFE7;
     width: calc(20% - 20px);
     margin-top: 20px;
     height: 60%;
     float: left;

}

.lightblueboardright{
     /* border: 1px solid #ABCFE7; */
     background-color: #ABCFE7;
     width: calc(20% - 20px);
     margin-top: 20px;
     height: 60%;
     float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.midboard{
     display: inline-block;
     /* border: 1px solid #ABCFE7; */
     background-color: #ABCFE7;
     text-align: center;
     height: 60%;
     width: 60%;
     margin: 20px;
     margin-bottom: 20px;
}


/* .lightblueboardmid{
    border: 1px solid #ABCFE7;
    background-color: #ABCFE7;
    display: inline-block;
    height: 80%;
    width:60%;
    margin-top: 10px;  
     
} */






