/* reset */

.container {
    width: 1600px;
    margin: 30px auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: #e484e6;
}

.bg-yellow {
    background-color: #e7de85;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.color-top {
    background-color: #abcfe7;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.article {
    background-color: #0c8bfa;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    padding: 15px;
}

.color-1 {
    background-color: #afd4ec;
    height: 700px;
    width: 20%;
    float: left;
}

main {
    margin: 30px 0;
}

.color-2 {
    background-color: #afd0e6;
    height: 700px;
    width: calc(60% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    float: left;
}

footer {
    background-color: #8801fe;
    width: 100%;
    height: 50px;
}